
body {
  color: #520909d1;
}
.hidden {
  display: none;
}
.chat__wrapper{
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.chat__menu {
  min-height: 300px;
  width: 30%;
  padding-top: 15px;
  padding-left: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat__board{
  width: 40%;
  border: 1px double grey; ;
  border-radius: 10px;
}
.chat__online{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid grey;
  border-right: none;
  border-radius: 10px;
}
.chat__logOut{
  
  /* height: 35px; */
  font-size: 16px;
  justify-self: flex-end;

  
}
.chat__board{
  display: flex;
  flex-direction: column;
}
.chat__text{
  overflow-y: scroll;
  height: 300px;
  display: flex;
  flex-direction: column;

}
.chat__input{
  margin: 20px;
  justify-self: flex-end;
  border-radius: 10px;
  height: 20px;
  outline: navy;
}

.chat__user{
  position: relative;
  box-sizing: border-box;
  margin: 15px;
  padding-left: 40px;
  align-self: center;
  justify-self: center;

}
.chat__user::before{
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

.chat__message{
  margin: 10px;
  font-size: 10px;

}
.message__data{
color: lightsalmon;
margin-bottom: 10px;
}

.chat__nickname{
  position: absolute;
  top: 30%;
  left: 40%;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.chat__nickname > h2 {
  text-align: center;

} 
.chat__nickname > input {
  margin: 10px;
}
.chat__nickname > button {
  margin: 29px;
  height: 25px;
}

.chat__nickname-error{
  text-align: center;
  color: red;
}
.chat__user-active{
  color: lightgreen;
}
.chat__message-active{
  color: lightseagreen;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}


